.day-cell {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  width: 30px;
  height: 30px !important;
  border-radius: 20px;
}

.day-cell:hover {
  background-color: aqua;
}
