* {
    box-sizing: border-box;
} 
    
.o-flex-grid {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    margin: 0 auto;
}

.o-flex-grid--item {
    border-radius: 5px;
    width: 100%;
}    
.o-flex-grid--item:first-child:nth-last-child(1)
.o-flex-grid--item:first-child:nth-last-child(1) ~ div {
    width: 100%;
}

.o-flex-grid--item:first-child:nth-last-child(2)
.o-flex-grid--item:first-child:nth-last-child(2) ~ div {
    width: 50%;
}

.o-flex-grid--item:first-child:nth-last-child(3)
.o-flex-grid--item:first-child:nth-last-child(3) ~ div {
    width: 33%;
}
        
.o-flex-grid--item:first-child:nth-last-child(4)
.o-flex-grid--item:first-child:nth-last-child(4) ~ div {
    width: 25%;
}
        
.o-flex-grid--item:first-child:nth-last-child(5) 
.o-flex-grid--item:first-child:nth-last-child(5) ~ div {
    width: 20%;
}

.o-flex-grid--item:first-child:nth-last-child(6)
.o-flex-grid--item::first-child:nth-last-child(6) ~ div {
    width: 16%;
}

.o-flex-grid--item::first-child:nth-last-child(7)
.o-flex-grid--item::first-child:nth-last-child(7) ~ div {
    width: 14%;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}

.w-5 {
    width: 5%;
}
